.systemd-manager-button {
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  min-width: 18px;
  min-height: 18px;
}

.systemd-manager-button.mask-button {
  color: grey;
}

.systemd-manager-button.mask-button:checked {
  color: gold;
}

.systemd-manager-error {
  color: #ffa348;
}

.systemd-manager-item .toggle-switch {
  margin-left: 10px;
}

.systemd-manager-item .popup-menu-ornament {
  width: 0px !important;
}
